<p>
  {% trans %}The Norwegian Drupal Association wants to invite to a day focusing on e-commerce solutions. At the event we will explore challenges and solutions within the world of e-commerce. We will hear success stories, trends and analyses, but also look forward to where the sector is heading.
  {% endtrans %}
</p>

<p>
  {% trans %}
    Among the speakers will be leading providers of existing solutions, service providers and third party solutions, all with a focus on how the unique challenges of e-commerce can be solved with open source.
  {% endtrans %}
</p>

<p>
  {% trans %}
    The event is for everyone working with e-commerce: Editors, webshop administrators, digital agencies, service providers and people generally interested.
  {% endtrans %}
</p>

<p>
  {% trans %}
    The event is free to attend, but <a href="https://docs.google.com/forms/d/e/1FAIpQLScRQ_RckzZ2-TvOnqaLYLVbTtZM_H-wRy7nLextAPRNAAIfNA/viewform">requires you to register with this form</a>.
  {% endtrans %}
</p>

<p>
    <b>{% trans %}Place{% endtrans %}:</b> {% trans %}Mesh, Tordenskjolds gate 2, Oslo{% endtrans %}<br>
    <b>{% trans %}Time{% endtrans %}:</b> {% trans %}Oct 4th 2019. 09.00 - 13.00{% endtrans %}
</p>

<h3>Speakers</h3>

<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <a class="thumbnail" href="/user/167"><img src="https://oslo2019.drupalcamp.no/sites/default/files/styles/square/public/2019-08/vipps.png "></a>
    </div>
    <div class="col-md-9">
      <a href="/user/167"><h3>Vipps</h3></a>
      Mobile payment solutions
    </div>

  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <a class="thumbnail" href="/user/160"><img src="https://oslo2019.drupalcamp.no/sites/default/files/styles/square/public/2019-08/SqyrNJK__400x400.jpg?itok=iraDoeny "></a>
    </div>
    <div class="col-md-9">
      <a href="/user/160"><h3>Bojan Živanović</h3></a>
      Leading Drupal Commerce development at Centarro
    </div>

  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <a class="thumbnail" href="/user/166"><img src="https://oslo2019.drupalcamp.no/sites/default/files/styles/square/public/2019-08/ubhZ_Nzh_400x400.jpg?itok=0_vec384 "></a>
    </div>
    <div class="col-md-9">
      <a href="/user/166"><h3>Luminus O. Alabi</h3></a>
      Happiness Engineer, WooCommerce / Automattic
    </div>

  </div>

</div>

<p>
  {% trans %}
    More speakers will be announced continuously in the coming weeks.
  {% endtrans %}
</p>

<p>
  {% trans %}
    Do you want to speak, or sponsor the event? Please get in touch with <a href="mailto:styret@drupalnorge.no">styret@drupalnorge.no</a>
  {% endtrans %}
</p>

<p>
  {% trans %}
    The event is part of <a href="https://oslo2019.drupalcamp.no/">Drupal Camp Oslo 2019</a>, which also has a range of exciting topics. If you want to participate <a href="https://www.eventbrite.com/e/drupalcamp-oslo-2019-tickets-64225896385">you can buy tickets here.</a>
  {% endtrans %}
</p>
